<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDriver}">
<head>
<title>Driver Info Edit</title>
<style>	
	.errormsg { color: red; }
	.emailButton { padding-top: 24px; }
	.formButton { margin: 0 12px; }
</style>
</head>

<th:block layout:fragment="content">
	<div>여기로</div>

</th:block>
<th:block layout:fragment="js">
	<script src="/custom/js/dEditUserInfo.js"></script>
</th:block>
</html>