<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutdriver}">
<title>drvier 회원 탈퇴</title>
</head>
<th:block layout:fragment="content">
		<div class="container mt-5">
				<div>
					<div style="margin-left:100px;">
						<h4>탈퇴 안내</h4>
						<p style="color:silver;">회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>
					</div>
				</div>
				<div style="border-bottom: solid 1px silver; margin-left: 100px; margin-right: 100px; margin-bottom: 50px;"></div>
				
				<div>
					<div style="margin-left:100px; margin-bottom:50px;">
						<p>※ 사용하고 계신 아이디(<span th:text="${driverInfo.dUserId}"></span>)는 재사용 및 복구가 불가능합니다.</p>
						<span style="color:red;">탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가</span><span style="color: silver;">하오니 신중하게 선택하시기 바랍니다.</span>
					</div>
				</div>
				<form th:action="|@{/driver/signOut}|" method="post" th:object="${driverInfo}">
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dUserPw" >나의 비밀번호</label> <input type="password"
								th:field="${driverInfo.dUserPw}" name="dUserPw" class="form-control"
								pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[.$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$"
								title="영문, 숫자, 특수문자 각 1개 이상 포함 최소 8자리에서 최대 16자리까지"
								placeholder="패스워드" maxlength="16">
							<div class="invalid-feedback">
								<span>패스워드를 확인해주세요.</span> 
								<span>(영문대/소문자, 숫자, 특수문자 각 1개 이상
									포함, </span>
								<span>최소 8자리에서 최대 16자리까지)</span>
							</div>
						</div>
					</div>
					<div style="margin-top: 20px; text-align: center">
	 					<button type="button" class="btn btn-dark" id="checkBtn">본인확인</button>
						<button type="submit" class="btn btn-dark" id="signOutBtn">회원탈퇴</button>
					</div>
				</form>
		</div>
		<script>
 	$("#signOutBtn").css("display", "none");

	$("#checkBtn").click(function() {
			$.ajax({
				type: "POST",
				url: "/driver/check/signOut",
				data: { "password": $("#dUserPw").val() },
				success: function (res,status) {				
					if(res == false){
						swal("패스워드가 일치하지않습니다.", "다시 확인해주세요.", "error");
					} else {
						swal("본인 확인되었습니다.", "탈퇴를 원하시면 버튼을 눌러주세요.", "success").then((OK)=>{
							if(OK) {
 								$("#signOutBtn").css("display", "block");
 								$("#checkBtn").css("display", "none");
							}
						})
					}
				}
			})
	});
	</script>
		
</th:block>

</html>