<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDriver}">
<head>
<title>driverInfo Info</title>
    <link rel="stylesheet" href="/standard/css/temperature.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<style>	
	.formButton { margin: 0 12px; }
	.userInfo { font-family: 'Gowun Dodum', sans-serif; }
</style>
</head>

<th:block layout:fragment="content">
	<div class="container mt-5 userInfo">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<div class="row justify-content-center">
					<div class="col col-md-6 mb-3" style="text-align: center;">
						<h4>내정보 관리</h4>
						<div style="border-bottom: solid 1px silver; margin-left: 200px;
						 margin-right: 200px; margin-bottom: 50px;"></div>
					</div>
				</div>
				<form class="validation-form" novalidate="novalidate"
					th:action="|@{/driver/info}|" method="post"
					th:object="${driverInfo}">
					<!-- 				아이디 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dUserId">아이디(id)</label> <span
								class="text-center small mt-2" id="checkIdMsg"></span>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="dUserId"
									name="dUserId" placeholder="아이디" pattern="^[a-zA-Z0-9]{4,12}$"
									aria-label="dUserId" aria-describedby="checkId"
									th:field="${driverInfo.dUserId}"
									title="영문, 숫자 포함 4자리에서 최대 12자리까지" maxlength="12"
									style="background-color: #F4F6F6;" readonly>
							</div>
							<div class="invalid-feedback">
								<span>아이디를 확인해주세요.</span>
							</div>
						</div>
					</div>
					<!-- 				패스워드 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dUserPw">새로운 비밀번호</label> <span
								class="text-center small mt-2" id="checkPwMsg"></span>
							<input type="text" th:field="${driverInfo.dUserPw}" class="form-control"
								pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[.$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$"
								title="영문, 숫자, 특수문자 각 1개 이상 포함 최소 8자리에서 최대 16자리까지"
								placeholder="패스워드" maxlength="16">
							<div class="invalid-feedback">
								<span>패스워드를 확인해주세요.</span>
							</div>
						</div>
					</div>
					<!-- 					사용자 이름 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dUserName">이름(name)</label> <input type="text"
								class="form-control" id="dUserName" name="dUserName"
								th:field="${driverInfo.dUserName}" maxlength="10"
								placeholder="이름" style="background-color: #F4F6F6;" readonly>
							<div class="invalid-feedback">이름을 확인해주세요.</div>
						</div>
					</div>
					<!-- 				주민등록번호 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dIdNum">주민등록번호</label><span
								class="text-center small mt-2" id="checkIdNumMsg"></span>
							<input type="text" class="form-control" id="dIdNumM" name="dIdNumM"
								th:field="${driverInfo.dIdNum}"
								pattern="^([0-9]{2}(0[1-9]|1[0-2])(0[1-9]|[1,2][0-9]|3[0,1])-[1-4][0-9*]{6})$"
								placeholder="990101-1******" title="주민등록번호 13자리 숫자만 입력"
								maxlength="14" style="background-color: #F4F6F6;" required
								readonly> <input type="hidden" class="form-control"
								id="dIdNum" name="dIdNum" th:field="${driverInfo.dIdNum}"
								pattern="^([0-9]{2}(0[1-9]|1[0-2])(0[1-9]|[1,2][0-9]|3[0,1])-[1-4][0-9]{6})$"
								maxlength="14" readonly>
						</div>
					</div>
					<!-- 				이메일 입력 / 중복 체크 / 인증 메일 발송 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dUserEmail">이메일(email)</label> <span
								class="text-center small mt-2" id="checkEmailMsg"></span>
							<div class="input-group mb-3">
								<input type="email" class="form-control" id="dUserEmail"
									name="dUserEmail" aria-label="dUserEmail"
									th:field="${driverInfo.dUserEmail}"
									aria-describedby="checkEmail"
									pattern="^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
									placeholder="이메일(carpooling@example.com)"
									title="이메일 양식:carpooling@sample.com" maxlength="50"
									style="background-color: #F4F6F6;" readonly>
							</div>
						</div>
					</div>
					<!-- 				휴대폰 번호 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dUserTel">휴대폰번호</label> <span
								class="text-center small mt-2" id="checkTelMsg"></span>
							<input type="text" class="form-control" id="dUserTel" name="dUserTel"
								pattern="^(010-\d{3,4}-\d{4})$" maxlength="13" title="숫자만 입력"
								th:field="${driverInfo.dUserTel}" value="010">
							<div class="invalid-feedback">
								<span>휴대폰번호를 확인해주세요. </span>
							</div>
						</div>
					</div>
					<!-- 				은행 계좌정보 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dAccountBank">은행</label> <span
								class="text-center small mt-2" id="checkAccBankMsg"></span>
							<input class="form-control" id="dAccountBank" name="dAccountBank"
								th:field="${driverInfo.dAccountBank}">
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dAccountNum">계좌번호</label> <span
								class="text-center small mt-2" id="checkAccNumMsg"></span>
							<input class="form-control" id="dAccountNum" name="dAccountNum"
								th:field="${driverInfo.dAccountNum}">
						</div>
					</div>
					<!-- 				면허 번호 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dLicenseNum">면허번호</label> <span
						class="text-center small mt-2" id="checkLicenseNumMsg"></span>
							<input type="text" class="form-control" id="dLicenseNum" name="dLicenseNum"
								pattern="(\d{2}-\d{2}-\d{6}-\d{2})"
								th:field="${driverInfo.dLicenseNum}" maxlength="15"
								title="숫자만 입력">
							<div class="invalid-feedback">
								<span>면허번호를 확인해주세요. </span>
							</div>
						</div>
					</div>
					<!-- 				식별 번호 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dLicenseDate">식별번호</label> <span
						class="text-center small mt-2" id="checkLIdNumMsg"></span>
							<input type="text" class="form-control" id="dLicenseIdNum" name="dLicenseIdNum"
								th:field="${driverInfo.dLicenseIdNum}"
								pattern="^([A-Z0-9]{5,6})$" placeholder="영문(대)+숫자 5자리 혹은 6자리"
								maxlength="8" title="식별 번호 (영문대문자+숫자) 입력" required>
							<div class="invalid-feedback">
								<span>(면허증 우측 사진 아래)</span> <span>식별번호를 확인해주세요. </span> <span>(영문대문자+숫자
									5자리 혹은 6자리)</span>
							</div>
						</div>
					</div>
					<!-- 				자동차 번호 수정 -->
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<label for="dCarNum">자동차번호</label> <span
						class="text-center small mt-2" id="checkCarNumMsg"></span>
							<input type="text" class="form-control" id="dCarNum" name="dCarNum"
								placeholder="00땡0000, 000땡0000"
								pattern="^(\d{2,3})([가-힣]{1})(\d{4})$" maxlength="8"
								title="자동차 번호 입력" th:field="${driverInfo.dCarNum}">
							<div class="invalid-feedback">
								<span>자동차번호를 확인해주세요. </span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col col-md-6 mb-3">
							<button type="submit" class="btn btn-dark" id="updateBtn">수정하기</button>
							<button type="button" class="btn btn-light formButton"
								th:onclick="|location.href='@{/driver/driverCarpool/registration}'|">취소</button>
						</div>
					</div>
					<!-- 회원 탈퇴 -->
					<div class="row">
						<div class="col col-md-6 mb-3">
							<a th:href="@{/driver/signOut}" style="color: gray;">회원 탈퇴 ></a>
						</div>
					</div>
				</form>				
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="js">
	<script src="/custom/js/driver/dEditUserInfo.js"></script>
</th:block>
</html>