body {
  height: 100vh;
  background-color: #fcf8ec;
}

.dr-section {
}

.title {
  color: #433520;
  font-family: "NanumSquareNeoExtraBold";
  font-size: 2.3rem;
  margin: 40px 0px 40px 0px;
}

.drForm {
  margin-left: 80px;
}

#commuteField,
#dateField,
#pickupTimeField {
  margin-bottom: 10px;
}

.btn {
  color: #fcf8ec;
  background-color: #433520;
}

.point {
  color: #433520;
  margin-bottom: 5px;
  display: block;
  font-family: "NanumSquareNeoBold";
  font-size: 1rem;
}

/* 선택안했을 때 스타일 */
.check {
  display: none;
  color: red;
  margin-left: 10px;
  margin-top: 5px;
}

.label {
  color: #433520;
  margin-bottom: 5px;
  display: block;
  font-family: "NanumSquareNeoBold";
  font-size: 1.2rem;
}

.text {
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

.select_pickup_time {
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 40px;
  width: 182px;
  padding-left: 10px;
  color: #757575;
}

.setext {
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  color: #757575;
}

.form-field {
  width: 400px;
}

/* radio 버튼 안보이게 */
.box-radio-input input[type="radio"] {
  display: none;
}

/* 체크 안되어있을 때의 span태그 스타일 */
.box-radio-input input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #dfdfdf;
  padding: 0px 10px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
  width: 102px;
  border-radius: 5px;
  margin-left: 5px;
}

/* 체크 되었을 때의 변경되는 span태그 스타일 */
.box-radio-input input[type="radio"]:checked + span {
  border: 1px solid #433520;
  background: #433520;
  color: #fcf8ec;
}

#selectStartTime {
  background-color: white;
}

#startCSS {
  margin-bottom: 10px;
}

#searchSP,
#searchEP {
  width: 102px;
}

#start {
  margin-left: 10px;
  margin-bottom: 10px;
}

#end {
  margin-left: 10px;
  margin-right: 10px;
}
