#today {
  width: 100px;
  height: 40px;
}

#future {
  width: 100px;
  height: 40px;
}

#listdiv {
  margin: 0 auto;
  width: 100%;
}

/* #list {
  display: inline-block;
  border: 1px solid #ddd;
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  width: 500px;
  height: 600px;
} */

.CommuteSPAN {
  display: inline-block;
  font-weight: 100;
  background-color: #cd3184;
  color: white;
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-top: 20px;
}

#pastmapBTN {
  width: 100px;
  height: 35px;
  line-height: 20px;
}

/*오늘 수락버튼*/
#todayYbtn {
  width: 150px;
  height: 40px;
  margin-left: 33px;
  margin-top: 10px;
}

/*오늘 거절버튼*/
#todayNbtn {
  width: 150px;
  height: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

/*미래 수락버튼*/
#futureYbtn {
  width: 150px;
  height: 40px;
  margin-left: 33px;
  margin-top: 10px;
}

/*미래 거절버튼*/
#futureNbtn {
  width: 150px;
  height: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

/* 팝업 배경 css*/
#popup_mask {
  position: fixed;
  width: 100%;
  height: 1000px;
  top: 0px;
  left: 0px;
  display: none;
  background-color: #000;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

/*팝업창 css*/
#popupDiv {
  top: 0px;
  position: fixed;
  background: white;
  width: 500px;
  height: 550px;
  display: none;
  padding-left: 10px;
}

#popCloseBtn {
  margin-left: 330px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
}
