<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="project.carPooling.driver.mapper.DriverInfoMapper">

	<insert id="insert" parameterType="DriverInfo">
		insert into driver(
		d_idx, d_userId, d_userPw, d_userName, d_userEmail, d_idNum1, d_idNum2, d_licenseNum, d_licenseDate, d_carNum)
		values( memberPK.nextVal, #{d_userId}, #{d_userPw}, #{d_userName}, #{d_userEmail}, #{d_idNum1}, #{d_idNum2}
				, #{d_licenseNum}, #{d_licenseDate}, #{d_carNum})
	</insert>

	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		insert into driver(d_email, d_gender)
			values(#{d_email}, #{d_gender})
	</insert>
		
</mapper>