<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.carPooling.driver.mapper.DrivingMapper">
	<update id="updateDrivingRegistration">
		UPDATE D_REGISTRATION
		SET d_reservation_status = 'driving'
		WHERE dr_idx = #{drIdx}
	</update>

	<select id="selectDRegistrationByDrIdx" resultType="DRegistration">
		SELECT * FROM D_REGISTRATION
		WHERE dr_Idx = #{drIdx}
	</select>
	
	<select id="selectRIdxAndPIdx" resultType="map">
		SELECT r.r_idx, r.p_idx
		FROM D_REGISTRATION dr, RESERVATION r
		WHERE dr.dr_idx = #{drIdx} AND dr.dr_idx = r.dr_idx AND r_cancel_status = 'uncanceled'
	</select>
	
	<select id="selectCompleteStatus" resultType="String">
		SELECT dr.dr_idx
		FROM D_REGISTRATION dr, RESERVATION r
		WHERE r.r_idx = #{rIdx} AND dr.dr_idx = r.dr_idx AND dr.d_reservation_status = 'complete'
	</select>
</mapper>