<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.carPooling.driver.mapper.DriverInfoMapper">

	<!-- public Integer insert(DriverInfo driverInfo); -->
	<insert id="insert" parameterType="DriverInfo">
		<selectKey keyProperty="dUserGender" resultType="String" order="BEFORE">
			SELECT (CASE WHEN SUBSTR(#{dIdNum2}, 1, 1) IN ('1', '3') THEN 'M'
				 ELSE 'F'
				 END) as dUserGender
			FROM dual
		</selectKey>
		INSERT INTO driver
		VALUES(d_idx_seq.nextVal, #{dUserType}, #{dUserId}, #{dUserPw}, #{dUserName}, #{dUserTel},
		#{dUserEmail}, #{dUserGender}, #{dIdNum1}, #{dIdNum2}, 'false', #{dLicenseNum},
		#{dLicenseDate}, #{dCarNum})
	</insert>
	
	<!-- public DriverInfo selectByLoginId (String loginId); -->
	<select id="selectByLoginId" resultType="DriverInfo">
	    SELECT * FROM DRIVER
	    WHERE d_userId = #{dUserId}
  	</select>

<!-- 	<insert id="kakaoInsert" parameterType="java.util.HashMap"> -->
<!-- 		insert into driver(d_email, d_gender) -->
<!-- 			values(#{d_email}, #{d_gender}) -->
<!-- 	</insert> -->
	
<!-- 	업데이트 처리는 다음 -->
<!-- 	<update id="kakaoupdate"> -->
<!-- 		update driver -->
<!-- 		SET	  d_userPw = #{updateItem.itemName}, -->
<!--  			  content = #{updateItem.content}, --> 
<!--  			  price = #{updateItem.price}, --> 
<!-- 			  soldout = #{updateItem.soldout}, --> 
<!-- 			  foodType = #{updateItem.foodType}, --> 
<!-- <			  shopCode = #{updateItem.shopCode} --> 
<!-- 		WHERE d_email = #{d_email} -->
<!-- 	</update> -->
		
<!--   <insert id="insert" parameterType="DriverInfo"> -->
<!--     insert into driverInfo( -->
<!--     userNum, userId, userPw, userName, userEmail, idNum1, idNum2, licenseNum, licenseDate, carNum) -->
<!--     values( memberPK.nextVal, #{userId}, #{userPw}, #{userName}, #{userEmail}, #{idNum1}, #{idNum2} -->
<!--     , #{licenseNum}, #{licenseDate}, #{carNum}) -->
<!--   </insert> -->

  	<select id="selectByIdx" resultType="DriverInfo">
	    SELECT * FROM DRIVER
	    WHERE d_idx = #{dIdx}
  	</select>
  
  	<select id="selectByDrIdx" resultType="DRegistration">
	    SELECT * FROM D_REGISTRATION
	    WHERE dr_idx = #{drIdx}
  	</select>

	<select id="selectByEmail" resultType="DriverInfo">
	    SELECT * FROM DRIVER
	    WHERE d_userEmail = #{dUserEmail}
  	</select>
  
  	<!-- public DriverInfo selectByNameAndEmail(String name, String email); -->
  	<select id="selectByNameAndEmail" resultType="DriverInfo">
	    SELECT * FROM DRIVER
	    WHERE d_userName = #{dUserName}
	    AND d_userEmail = #{dUserEmail}
  	</select>
	
	<!-- public DriverInfo selectByNameAndTel(String name, String tel); -->
	<select id="selectByNameAndTel" resultType="DriverInfo">
	    SELECT * FROM DRIVER
	    WHERE d_userName = #{dUserName}
	    AND d_userTel = #{dUserTel}
  	</select>
	
	<!-- public DriverInfo selectByNameAndIdnum(String name, String idnum1, String idnum2); -->
	<select id="selectByNameAndIdnum" resultType="DriverInfo">
	    SELECT * FROM DRIVER
	    WHERE d_userName = #{dUserName}
	    AND d_idNum1 = #{dIdNum1}
	    AND d_idNum2 = #{dIdNum2}
  	</select>
  	
  	<!-- public List<DriverInfo> selectAll(); -->
	
	<!-- public void deleteAll(); -->

	<!-- public DriverInfo update(DriverInfo driver); -->

</mapper>