<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="project.carPooling.driver.mapper.RegistrationMapper">
	<insert id="insert">
		INSERT INTO D_REGISTRATION (dr_idx, d_idx, d_date, d_commute, d_startTime,
		d_endTime, d_startPoint, d_endPoint, d_fee, d_distance, d_time,d_startlon, d_startlat,
		d_endlon, d_endlat)
		VALUES(DR_IDX_SEQ.nextval, #{dRegistration.dIdx}, #{convertDDate}, #{dRegistration.dCommute}, #{dRegistration.dStartTime}, #{dRegistration.dEndTime}, #{dRegistration.dStartPoint}, #{dRegistration.dEndPoint},
		#{dRegistration.dFee}, #{dRegistration.dDistance}, #{dRegistration.dTime}, #{dRegistration.dStartlon}, #{dRegistration.dStartlat}, #{dRegistration.dEndlon}, #{dRegistration.dEndlat})
	</insert>
	
</mapper>