<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="project.carPooling.driver.mapper.RegistrationListMapper">
	<select id="selectAcceptedRegistrationList" resultType="map">
		SELECT dr.dr_idx, dr.d_commute, dr.d_date, dr.d_start_time, dr.d_end_time, dr.d_start_point, dr.d_end_point, dr.d_start_lon, dr.d_start_lat, dr.d_end_lon, dr.d_end_lat, dr.d_fee, r.p_idx, r.r_idx
		FROM d_registration dr, reservation r
		WHERE dr.d_idx = #{dIdx} AND dr.dr_idx = r.dr_idx AND r.r_accept_status = 'accepted'
		AND to_date(to_char(dr.d_date, 'yymmdd')||substr(dr.d_start_time, 0, 2)||substr(dr.d_end_time, 4,5), 'yymmddhh24mi') >= sysdate	
	</select>
	
	<select id="selectAllRegistrationList" resultType="map">
		SELECT dr.dr_idx, dr.d_commute, dr.d_date, dr.d_start_time, dr.d_end_time, dr.d_start_point, dr.d_end_point, dr.d_start_lon, dr.d_start_lat, dr.d_end_lon, dr.d_end_lat, dr.d_fee, r.p_idx, r.r_idx
		FROM d_registration dr, reservation r
		WHERE dr.d_idx = #{dIdx} AND dr.dr_idx = r.dr_idx
	</select>
	
	<delete id="deleteRegistration">
		DELETE FROM D_REGISTRATION
		WHERE dr_idx = #{drIdx}
	</delete>
	
</mapper>
