<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="project.carPooling.driver.mapper.RegistrationMapper">
	<insert id="insert">
		INSERT INTO D_REGISTRATION (dr_idx, d_idx, d_date, d_commute, d_start_time,
		d_endTime, d_start_point, d_end_point, d_fee, d_distance, d_time,d_start_lon, d_start_lat,
		d_end_lon, d_end_lat)
		VALUES(DR_IDX_SEQ.nextval, #{dRegistration.dIdx}, #{convertDDate}, #{dRegistration.dCommute}, #{dRegistration.dStartTime}, #{dRegistration.dEndTime}, #{dRegistration.dStartPoint}, #{dRegistration.dEndPoint},
		#{dRegistration.dFee}, #{dRegistration.dDistance}, #{dRegistration.dTime}, #{dRegistration.dStartLon}, #{dRegistration.dStartLat}, #{dRegistration.dEndLon}, #{dRegistration.dEndLat})
	</insert>
	
</mapper>