<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">        
<mapper namespace="project.carPooling.passenger.mapper.ReservationListMapper">
	<select id="selectAcceptedReservationList" resultType="map">
		SELECT dr.dr_idx, dr.d_idx, dr.d_commute, dr.d_date, dr.d_startTime, dr.d_endTime, dr.d_startPoint, dr.d_endPoint, dr.d_startlon, dr.d_startlat, dr.d_endlon, dr.d_endlat, dr.d_fee, r.p_idx, r.r_idx, r.r_date
		FROM d_registration dr, reservation r
		WHERE dr.dr_idx=r.dr_idx AND r.p_idx=#{pIdx} AND r.r_acceptStatus = 'accepted' AND dr.d_date >= sysdate
	</select>
	
	<select id="selectWaitingReservationList" resultType="map">
		SELECT dr.dr_idx, dr.d_idx, dr.d_commute, dr.d_date, dr.d_startTime, dr.d_endTime, dr.d_startPoint, dr.d_endPoint, dr.d_startlon, dr.d_startlat, dr.d_endlon, dr.d_endlat, dr.d_fee, r.p_idx, r.r_idx, r.r_date
		FROM d_registration dr, reservation r
		WHERE dr.dr_idx=r.dr_idx AND p_idx=#{pIdx} AND r.r_acceptStatus = 'waiting' AND dr.d_date >= sysdate
	</select>
	
	<select id="selectRefusedReservationList" resultType="map">
		SELECT dr.dr_idx, dr.d_idx, dr.d_commute, dr.d_date, dr.d_startTime, dr.d_endTime, dr.d_startPoint, dr.d_endPoint, dr.d_startlon, dr.d_startlat, dr.d_endlon, dr.d_endlat, dr.d_fee, r.p_idx, r.r_idx, r.r_date
		FROM d_registration dr, reservation r
		WHERE dr.dr_idx=r.dr_idx AND p_idx=#{pIdx} AND r.r_acceptStatus = 'refused' AND dr.d_date >= sysdate
	</select>
	
	<select id="selectPastReservationList" resultType="map">
		SELECT dr.dr_idx,dr.d_commute, dr.d_date, dr.d_startTime, dr.d_endTime, dr.d_startPoint, dr.d_endPoint, dr.d_startlon, dr.d_startlat, dr.d_endlon, dr.d_endlat, dr.d_fee, r.p_idx, r.p_idx, r.r_idx, r.r_date
		FROM d_registration dr, reservation r
		WHERE dr.dr_idx=r.dr_idx AND p_idx=#{pIdx} AND dr.d_date <![CDATA[<]]> sysdate
	</select>
	
	
</mapper>