<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<form action="" method="post" th:object="${member}">
			<label for="loginId">ID</label>
			<input type="text" id="loginId" th:field="*{loginId}">
			<div class="errormsg" th:errors="*{loginId}"></div>
			
			<label for="password">PW</label>
			<input type="password" id="password" th:field="*{password}">
			<div class="errormsg" th:errors="*{password}"></div>
			
			<label for="password">PW Check</label>
			<input type="password" id="password" th:field="*{password}">
			<div class="errormsg" th:errors="*{password}"></div>
			
			<label for="email">Email</label>
			<input type="text" id="name" th:field="email">
			<div class="errormsg" th:errors="email"></div>
			
			<div>
				<button>prev</button>
				<p>1/4</p>
				<button>next</button>
			</div>
		</form>
</body>
</html>