<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Driver Join button</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
.errormsg {
	color: red;
}
</style>
</head>
<body>
	<div class="card" style="width: 500px; text-align:center; margin:auto;" >
		<div class="card-body">
			<h3 class="card-title">carPooling 회원 가입</h3>
			<div style="border: solid 1px gray; "></div>
			<form action="" method="get" th:object="${driverInfo}">
				<div class="d-grid gap-2 col-8 mx-auto" style="margin:30px;">
					<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/driver/join/general}'|">일반 회원 가입</button>
					<button type="button" class="btn btn-success">네이버로 회원 가입</button>
					<button type="button" class="btn btn-warning">카카오로 회원 가입</button>				
				</div>
			</form>
		</div>
	</div>
</body>
</html>