* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.outer {
  width: 100%;
  height: 100%;
  background-image: url("/img/carTravel.jpg");
  background-size: cover;
}
