@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.outer {
  width: 100%;
  height: 100%;
  background-image: url("/img/carTravel.jpg");
  background-size: cover;
}

#wrap {
  min-height: 90%;
  position: relative;
  padding-bottom: 60px;
}

footer {
	border-top: solid 0.5px silver;
	width: 100%;
	background: white;	
	text-align: center;
	clear:both;
    height: 220px;
    margin:0px;
    padding: 10px;
	/* position: relative; */
	/* line-height: 60px; */
	/* bottom: 0; */
	/* transform: translateY(-100%); */
}

.footerContainer {
    box-sizing: border-box;
}

.infoContainer{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: start;
	justify-items: center;
}

.infoContainer div{
	margin-top: 10px;
    box-sizing: border-box;
}

.info {
	margin:0;
}

.info div {
	margin: 0 20px;
}

.info h1{
	font-size: 40px;
	font-weight:700;
    text-align: center;
}

.info span{
	margin-right: 1em;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bInfo {
    text-decoration: underline;
    cursor: pointer;
}

.info p {
	font-size: 13px;
}

.infoP {
	opacity: 0.7;
};

.info a {
	font-size: 12px;
    color: #433520;
    text-decoration: underline;
}

.info a:hover {
	color: #433520;
}


.Clause, .Policy {
    min-width: 390px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    z-index: 10;
    justify-content: center;
}

.ClauseBody, .PolicyBody {
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    width: 60%;
}

.ClauseButton, .PolicyButton {
    float: right;
    margin: 10px 0;
}


footer p {	
	color: #433520;
	margin: 0;
	opacity: 0.7;
}

.title {
  color: #433520;
  font-size: 2.3rem;
  margin: 40px 0px 50px 0px;
}
