<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
 crossorigin="anonymous"></script>
 <style>
 	#chatting_top {
 	height:30px;
 	text-align:center;
 	background-color: #025955;
 	color: white;
 	font-family: 'NanumSquareNeoHeavy';
 	}
 	
 	
 </style>
<body>
		<div id="chatting_top">카풀톡</div>
        <div class="card card-body blur shadow-blur" style="background-color:#FCF8EC;">
<!--             <form th:action="@{/chatting/room}" method="post" name="chatRoomSave"> -->
<!--                 <div class="row"> -->
<!--                     <div class="col-md-3"> -->
<!--                         <div class="input-group input-group-outline"> -->
<!--                             <label class="form-label">방 제목</label> -->
<!--                             <input type="text" class="form-control" id="name" name="name"> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-md-3"> -->
<!--                         <button id="btn-create" class="btn btn-warning">채팅방 개설</button> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </form> -->
            <table class="table table-hover table-sm">
                <thead>
                <th>채팅방 목록</th>
                </thead>
                <tbody>
<!--                 th:if="${room.pIdx} == ${session.memberId}" -->
                <tr th:each="room : ${rooms}">
                	<div th:if="${room.pIdx} == ${session.loginId}">
                    <form action="/chatting/room" method="get" name="roomIn">
                        <input type="hidden" name="roomId" th:value="${room.roomId}">
                         <td><input type="button" class="btn btn-link btn-lg" 
                              th:onclick="submit()" th:value="${room.name}"></td>      
                    </form>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</body>
<script th:inline="javascript">

//     $("#btn-create").on("click", function (e) {
//         e.preventDefault();

//         let name = $("input[name='name']").val();
//         const chatRoomSave = document.forms["chatRoomSave"];

//         //채팅방 수동 생성 (채팅방 이름 체크)
//         if (name == "") {
//             alert("채팅방 이름을 적어주세요")
//         } 
//             else {
//                 alert(name + "방이 개설되었습니다.");
//                 chatRoomSave.submit();
//             }
//         }
//     );

</script>


</html>