<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutHome}">
<head>
<title>카카오톡 로그인 api 추가 정보 입력</title>
</head>
<th:block layout:fragment="content">
<li th:text="|성별 = ${gender}|">gender</li>
		<div style="margin-top:50px;"></div>
		<div style="margin: auto; margin: center; text-align: center;">
		현재<img src="/img/kakao.png" style="width:200px; height: 50px; margin-bottom: 20px;">계정으로 인증되었습니다.</div>
			<div style="border-bottom: solid 1px black; margin-left: 250px; margin-right: 250px;"></div>
			<div style="margin:auto; margin:center; text-align: center; margin-top:50px;">
				카카오톡을 통해서 간편로그인을 한 경우
				Carpooling 서비스를 이용하시기 위해서<br>
				추가 정보가 필요합니다.
				추가 정보를 기입해주시길 바랍니다.</div>
		<form action="" method="get" th:object="${loginForm}">
			<div>
				<input type="text" style="width: 300px; height: 50px; margin-top: 30px;">
			</div>
			<div>
				<input type="password" placeholder="비밀번호를 입력해주세요"
					style="width: 300px; height: 50px; margin-top: 10px;">
			</div>
		</form>

<!-- 카카오톡 로그아웃 -->
<!-- <a href="https://kauth.kakao.com/oauth/authorize?client_id=5bd525c6358eefa90a044fcef6dec8a0&redirect_uri=http://localhost:8080/driver/login/dLoginMain">로그아웃</a> -->

</th:block>
</html>