<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
  pre{
    overflow: scroll;
  }
</style>
</head>
<body>
	<div>
		
		<h1>Driver Login</h1>
		
		<form action="" method="get" th:object="${loginForm}">
			<div>
				<label for="loginId">ID</label>
					<input>
			</div>		
			<div>
				<label for="password">PW</label>
					<input>
			</div>
				<button type="submit">로그인</button>
			
			<h4>간편 로그인</h4>
<!-- 			네이버 로그인 -->
			  <div th:if="${session.currentUser eq null}">
			    <a th:href="${apiURL}"><img height="50" width="50px" src="/img/naverLoginCircle.png"/></a>
				  
				  <div th:if="${session.currentUser ne null}">
				    <h3>이 부분은 로그인한 사용자한테만 보임</h3>
				    <pre th:text="${session.currentUser}"></pre>
				    <a th:href="${'/naver/getProfile?accessToken=' + session.currentAT}">Get User's Profile</a>
				    <a th:href="${'/naver/refreshToken?refreshToken=' + session.currentRT}">Refresh Token</a>
				    <a th:href="${'/naver/deleteToken?accessToken=' + session.currentAT}">Delete Token</a>
				    <a href="/naver/invalidate">로그아웃 (Invalidate Session)</a>
				  </div>
			  </div>
<!-- 			  카카오 로그인 -->
			  <div>
			  	<a>
					<img src="/img/kakaoLoginCircle.png" width="50px" height="50px" alt="카카오 로그인 버튼"/>
			  	</a>
			  </div>
<!-- 			  구글 로그인 -->
			  <div>
			  	<a>
					<img src="/img/googleLoginCircle.png" width="50px" height="50px" alt="구글 로그인 버튼"/>
			  	</a>
			  </div>
			
			<a href="/member/login">아이디 찾기</a>
			<a href="/member/login">패스워드 찾기</a>
			
			<div>
				<a href="/driver/join">아직 회원이 아니신가요?</a>
			</div>
		</form>
	</div>
	
</body>
</html>