<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDriver}">
<head>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="763971359461-9lfqph5au0nq8m152udh8sh30jnuq4ae.apps.googleusercontent.com">
<title>Driver Login Page</title>
<!-- CSS only -->
</head>
<th:block layout:fragment="content">
	<div class="outer">
		<div class="card" style="width: 500px; margin-left:450px; text-align: center;">
			<div class="card-body" >
				<h3>Driver Login</h3>
				<div style="border-bottom: solid 1px gray; margin-top:20px;"></div>
				<form action="/driver/login" method="post" th:object="${dLoginForm}">				
					<!-- 일반 로그인 -->
					<div>
						<input type="text" th:field="*{loginId}" placeholder="아이디를 입력해주세요" style="width:300px; height:50px; margin-top:30px;">
					</div>
					<div>
						<input type="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요" style="width:300px; height:50px; margin-top:10px;">
					</div>
					<button type="submit" class="btn btn-dark"  style="height:50px; width:300px; margin-top:10px;">아이디 로그인</button>
					<div>
						<a href="/" style="margin-left:200px; text-decoration: none; color: black;">ID/PW 찾기</a>
					</div>
					
					<!-- 네이버 로그인 -->
						<div style="margin-top:30px; text-decoration: bold;">
							<a th:href="${apiURL}"><img height="50px"
								width="300px" src="/img/buttonNaver.png" /></a>
						</div>
					
					<!-- 카카오 로그인 -->
					<div>
						<a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=5bd525c6358eefa90a044fcef6dec8a0&redirect_uri=http://localhost:8080/driver/login/kakao/redirect&response_type=code}">
							<img src="/img/buttonKakao.png" height="50" width="300px"
							alt="카카오 로그인 버튼" />
						</a>
					</div>
					
					<!-- 구글 로그인 -->
<!-- 					<div class="g-signin2" data-onsuccess="onSignIn">구글쓰</div> -->
					
					<div>
						<a th:href="@{https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/cloud-identity.devices.lookup&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=http://localhost:8080/driver/login/google/redirect&response_type=code&client_id=763971359461-9lfqph5au0nq8m152udh8sh30jnuq4ae.apps.googleusercontent.com}">
							<img src="/img/buttonGoogle.png" height="50" width="300px" alt="구글 로그인 버튼" />
						</a>
<!-- 						<a th:href>얏호</a> -->
					</div>

					<!-- 일반 가입 -->
					<div style="margin-top: 30px;">
						<div style="margin:10px;">CarPooling이 처음이신가요?</div>
						<button type="button" class="btn btn-dark"  th:onclick="|location.href='@{/driver/join/general}'|" style="height:50px; width:300px;">회원 가입 하기</button>
					</div>
				</form>
			</div>
		</div>
	</th:block>
	<script type="text/javascript">
// 	function onSignIn(googleUser) {
// 		  var profile = googleUser.getBasicProfile();
// 		  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
// 		  console.log('Name: ' + profile.getName());
// 		  console.log('Image URL: ' + profile.getImageUrl());
// 		  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
// 		}
	
// 	window.location.href ="https://accounts.google.com/o/oauth2/auth?" +
// 	  "client_id={클라이언트 ID}&"+
// 	  "redirect_uri={리디렉션 URI}&"+
// 	  "response_type=token&"+
// 	  "scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile";
	</script>
	

</html>