<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layoutDriver}">

<head>
  <title>dMyPage</title>
  <link rel="stylesheet" href="/standard/css/temperature.css">
</head>

<div layout:fragment="content">
  <div id="article-profile-right">
    <div id="temperature-wrap">
      <div>매너온도</div>
      <div class="text-color-03" th:text="${driverInfo.dTemperature}">
        <span>°C</span>
      </div>
    </div>
    <div class="meters">
      <div class="bar bar-color-03"></div>
    </div>
    <div class="face face-03"></div>
  </div>
</div>

<th:block layout:fragment="js">
  <script>
    $(".bar").css("width", "[[${driverInfo.dTemperature}]]%");
  </script>
  <script src="/custom/js/driver/dMyPage.js"></script>
</th:block>

</html>