<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layoutDriver}">

  <head>
    <title>dMyPage</title>
    <link rel="stylesheet" href="/standard/css/temperature.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
      .mypage {
        font-family: 'Gowun Dodum', sans-serif;
      }

      .box {
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
        margin-left: 100px;
      }

      .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>


  <div layout:fragment="content" style="margin:50px;">
<!-- 	<h4 class="mypage" style="margin-bottom:10px; margin-left:120px;">> 마이페이지</h4> -->
			<div class="row">
				<div class="col-sm-5" style="text-align: center;">
					<div class="box">
						<img class="profile"
							src="https://i.pinimg.com/564x/71/20/23/7120230d2db9d4b9dcd84f4d1dd48a10.jpg"></img>
					</div>
		    	</div>
				<div class="col-sm-7">
					<h3 style="font-weight:bold; margin-top:100px;" class="mypage">
						<span th:text="${driverInfo.dUserName}"></span><span>님의 마이페이지</span>
						<a th:href="@{/driver/info}"><button class="btn btn-secondary mt-1" style="margin-left: 280px;">프로필 수정</button></a>
					</h3>
				</div>
			</div>
			<div style="border-bottom: solid 1px silver; margin-left:100px; margin-right:100px; margin-bottom:50px;"></div>
		
			<table class="table container mypage" style="width:80%;">
				<tbody>
					<tr>
						<th scope="row" style="width:20%"><h5 style="font-weight:bold; margin-top: 20px;">매너온도</h5></th>
						<td>
							<div>
								<div>
									<span class="text-color-03" th:text="${driverInfo.dTemperature}"></span>°C
								</div>
							</div>
							<div class="meters">
								<div class="bar"></div>
								<div class="face"></div>
							</div>
						</td>
					</tr>
					 <tr>
	      				<th scope="row"><h5 style="font-weight:bold;">포인트</h5>
	      				</th>
	      				<td>
	      					<span th:text="${driverInfo.dPoint}"></span>
	      					<button class="btn btn-secondary"  style="margin-left: 650px">출금하기</button>
	      				</td>
	      			</tr>
					 <tr>
					    <th scope="row"><h5 style="font-weight:bold;">패널티</h5></th>
					    <td colspan="2">
					    	<span th:text="${driverInfo.dPenalty}"></span>
					    </td>
					 </tr>
				</tbody>
			</table>
				<h5>나의리뷰</h5>
	</div>

    <table class="table container" style="width:80%;">
      <tbody>
        <tr>
          <th scope="row" style="width:20%">
            <h5 style="font-weight:bold;">매너온도</h5>
          </th>
          <td>
            <div>
              <div>
                <span class="text-color-03" th:text="${driverInfo.dTemperature}"></span>°C
              </div>
            </div>
            <div class="meters">
              <div class="bar"></div>
              <div class="face"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <h5 style="font-weight:bold;">포인트</h5>
          </th>
          <td>
            <span th:text="${driverInfo.dPoint}"></span>
            <button class="btn btn-primary">출금하기</button>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <h5 style="font-weight:bold;">패널티</h5>
          </th>
          <td colspan="2">
            <span th:text="${driverInfo.dPenalty}"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div th:each="myReview : ${myReviewList}">
      <h3>내가작성한후기</h3>
      별점: <span th:text="${myReview.starPoint}"></span>
      이름: <span th:text="${myReview.nickname}"></span>
      내용: <span th:text="${myReview.content}"></span>
    </div>
    <div th:each="psReview : ${psReviewList}">
      <h3>내가받은후기</h3>
      별점: <span th:text="${psReview.starPoint}"></span>
      이름: <span th:text="${psReview.nickname}"></span>
      내용: <span th:text="${psReview.content}"></span>
    </div>
  </div>

  </div>

  <th:block layout:fragment="js">
    <script>
      var dTemperature = "[[${driverInfo.dTemperature}]]";
      $(".bar").css("width", `${ dTemperature }%`);
      dTemperature = parseFloat(dTemperature);

      if (dTemperature > 0 && dTemperature <= 12.5) {
        $(".bar").addClass("bar-color-01");
        $(".face").addClass("face-01");
      } else if (dTemperature > 12.5 && dTemperature <= 30) {
        $(".bar").addClass("bar-color-02");
        $(".face").addClass("face-02");
      } else if (dTemperature > 30 && dTemperature <= 36.5) {
        $(".bar").addClass("bar-color-03");
        $(".face").addClass("face-03");
      } else if (dTemperature > 36.5 && dTemperature <= 50.5) {
        $(".bar").addClass("bar-color-04");
        $(".face").addClass("face-04");
      } else if (dTemperature > 50.5 && dTemperature <= 65.5) {
        $(".bar").addClass("bar-color-05");
        $(".face").addClass("face-05");
      } else if (dTemperature > 65.5) {
        $(".bar").addClass("bar-color-06");
        $(".face").addClass("face-06");
      }
    </script>
    <script src="/custom/js/driver/dMyPage.js"></script>
  </th:block>

</html>