<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layoutDriver}">

  <head>
    <title>dUserPage</title>
    <link rel="stylesheet" href="/standard/css/temperature.css">

    <style>
      .box {
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
        margin-left: 100px;
      }

      .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>


  <div layout:fragment="content" style="margin:50px;">
    <!-- 	<h4 class="mypage" style="margin-bottom:10px; margin-left:120px;">> 마이페이지</h4> -->
    <div class="row">
      <div class="col-sm-5" style="text-align: center; margin-bottom: 20px;">
        <div class="box">
          <img class="profile" src="https://i.pinimg.com/564x/71/20/23/7120230d2db9d4b9dcd84f4d1dd48a10.jpg"></img>
        </div>
      </div>
      <div class="col-sm-7">
        <h3 style="font-weight:bold; margin-top:100px;" class="mypage">
          <span th:text="${driverInfo.dUserName}"></span><span>님의 마이페이지</span>
          <a th:href="@{/driver/info}"><button class="btn btn-secondary mt-1" style="margin-left: 200px;">프로필
              수정</button></a>
        </h3>
      </div>
    </div>
    <div style="border-bottom: solid 1px silver; margin-left:100px; margin-right:100px; margin-bottom:50px;"></div>

    <table class="table container mypage" style="width:80%;">
      <tbody>
        <tr>
          <th scope="row" style="width:20%">
            <h5 style="font-weight:bold; margin-top: 20px;">매너온도</h5>
          </th>
          <td>
            <div>
              <div style="position: relative; right: -82%; width: 50px;">
                <span class="text-color-03" th:text="${driverInfo.dTemperature}"></span>°C
              </div>
            </div>
            <div class="meters">
              <div class="bar"></div>
              <div class="face"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <h5 style="font-weight:bold;">포인트</h5>
          </th>
          <td>
            <span th:text="${driverInfo.dPoint}"></span>
            <button class="btn btn-secondary" style="margin-left: 600px">출금하기</button>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <h5 style="font-weight:bold;">패널티</h5>
          </th>
          <td colspan="2">
            <span th:text="${driverInfo.dPenalty}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <h5 style="font-weight:bold;">내가작성한리뷰</h5>
          </th>
          <td colspan="2">
            <div th:each="myReview : ${myReviewList}">
              <span style="color:silver">별점</span>
              <span style="color:silver" th:text="${myReview.starPoint}"></span>
              <div th:text="${myReview.content}"></div>
              <div style="border-bottom: solid 1px silver;"></div>
              <button class="btn btn-primary" th:onclick="editReview([[${myReview.rIdx}]])">리뷰수정</button>
              <button class="btn btn-primary" th:onclick="deleteReview([[${myReview.rIdx}]])">리뷰삭제</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <h5 style="font-weight:bold;">내가받은리뷰</h5>
          </th>
          <td colspan="2">
            <div th:each="psReview : ${psReviewList}">
              <span style="color:silver">별점</span>
              <span style="color:silver" th:text="${psReview.starPoint}"></span>
              <span style="color:silver">/ from</span>
              <span style="color:silver" th:text="${psReview.nickname}"></span>
              <div th:text="${psReview.content}"></div>
              <div style="border-bottom: solid 1px silver;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <th:block layout:fragment="js">
    <script>
      var dTemperature = "[[${driverInfo.dTemperature}]]";
      $(".bar").css("width", `${ dTemperature }%`);
      dTemperature = parseFloat(dTemperature);

      if (dTemperature > 0 && dTemperature <= 12.5) {
        $(".bar").addClass("bar-color-01");
        $(".face").addClass("face-01");
      } else if (dTemperature > 12.5 && dTemperature <= 30) {
        $(".bar").addClass("bar-color-02");
        $(".face").addClass("face-02");
      } else if (dTemperature > 30 && dTemperature <= 36.5) {
        $(".bar").addClass("bar-color-03");
        $(".face").addClass("face-03");
      } else if (dTemperature > 36.5 && dTemperature <= 50.5) {
        $(".bar").addClass("bar-color-04");
        $(".face").addClass("face-04");
      } else if (dTemperature > 50.5 && dTemperature <= 65.5) {
        $(".bar").addClass("bar-color-05");
        $(".face").addClass("face-05");
      } else if (dTemperature > 65.5) {
        $(".bar").addClass("bar-color-06");
        $(".face").addClass("face-06");
      }
    </script>
    <script src="/custom/js/driver/dMyPage.js"></script>
  </th:block>

</html>