<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="row justify-content-center align-items-center footerContainer">
	<div class="col footerInfo f1">
		<span class="span6">"6" </span><span class="spanCan">Can Do It!</span>
	</div>
	<div class="col-5 footerInfo f2">
		<p>&copy; 2023 CarPooling</p>
	</div>
	<div class="col footerInfo f3">
		<h1>Developers</h1>
		<span>김승현</span>
		<span>신동호</span>
		<span>이다연</span>
		<span>정혜연</span>
		<p><a target="_blank" href="https://github.com/HyeyonJ/CarPoolingProject.git">CarPooling GitHub</a></p>
	</div>
</footer>
</html>