<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="row justify-content-center align-items-center footerContainer">
<div class="infoContainer justify-content-center">
	<div class="col info">
		<h1>CarPooling</h1>
		<h3>6 Can Do It!</h3>
		<p class="infoP">
			<span>CarPooling은 kg이니시스의</span> <span>구매안전거래 서비스를 이용합니다.</span>
		</p>
	</div>
	<div class="col info">
		<h1>COMPANY</h1>
		<p>
			<span>(주)6CanDoIt 육캔두잇</span> <span>·Business License:012-34-56789</span>
			<span>·Address:천안시 동남구 대흥로 215, 8층 6강의실</span> <span>·Phone:070-1234-5678</span>
			<span>·Email:6candoit6@gmail.com</span> <span>·Mail Order
				License:2023-아산배방-0113</span> <span class='bInfo'
				th:onclick="|location.href='@{/passenger/join}'|">[사업자정보확인]</span>
		</p>
	</div>
	<div class="col info">
		<h1>MORE</h1>
		<p>
			<span th:onclick="|location.href='@{/passenger/join}'|">이용약관</span> <span
				th:onclick="|location.href='@{/passenger/join}'|">개인정보처리방침</span> <span>고객센터1:1문의(운영중단)</span>
		</p>
	</div>
	<div class="col info">
		<h1>Developers</h1>
		<p>
			<span>김승현</span> <span>신동호</span> <span>이다연</span> <span>정혜연</span>
		</p>
		<p>
			<a target="_blank"
				href="https://github.com/HyeyonJ/CarPoolingProject.git">CarPooling
				GitHub</a>
		</p>
	</div>
</div>
</footer>
</html>