<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutHome}">

<head>
<title>Select CarPooling Mode</title>
<!-- css js -->
</head>
<th:block layout:fragment="content">
    <h1>CarPooling 모드 선택</h1>
	<div>
		<button type="button" th:onclick="|location.href='@{/driver/login}'|">운전자모드</button>
		<button type="button" th:onclick="|location.href='@{/passenger/login}'|">탑승자모드</button>
	</div>
</th:block>
</html>