<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutHome}">

<head>
<title>Select CarPooling Mode</title>
<!-- CSS only -->
</head>
<th:block layout:fragment="content">
	<div margin="textauto-center">
	    <h3>사용자 모드를 선택해주세요</h3>
		<div>
			<button type="button" th:onclick="|location.href='@{/driver/login}'|">운전자모드</button>
			<button type="button" th:onclick="|location.href='@{/passenger}'|">탑승자모드</button>
		</div>
	</div>
</th:block>
</html>