<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layoutPassenger}">

  <head>
    <title>pMyPage</title>
    <link rel="stylesheet" href="/standard/css/temperature.css">
      <title>dMyPage</title>
    <link rel="stylesheet" href="/standard/css/temperature.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
      .mypage {
        font-family: 'Gowun Dodum', sans-serif;
      }

      .box {
        width: 150px;
        height: 150px;
        border-radius: 70%;
        overflow: hidden;
        margin-left: 100px;
      }

      .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>	
  </head>

  <div layout:fragment="content" style="margin:50px;">
	<div class="row">
		<div class="col-sm-5" style="text-align: center;">
			<div class="box">
				<img class="profile"
					src="https://i.pinimg.com/564x/71/20/23/7120230d2db9d4b9dcd84f4d1dd48a10.jpg"></img>
			</div>
		</div>
		<div class="col-sm-7">
			<h3 style="font-weight: bold; margin-top: 100px;" class="mypage">
				<span th:text="${passengerInfo.pUserName}"></span><span>님의 마이페이지</span>
				<a th:href="@{/passenger/info}"><button class="btn btn-secondary mt-1" style="margin-left: 280px;">프로필수정</button></a>
			</h3>
		</div>
	</div>
	<div style="border-bottom: solid 1px silver; margin-left:100px; margin-right:100px; margin-bottom:50px;"></div>
	
			<table class="table container mypage" style="width:80%;">
				<tbody>
					<tr>
						<th scope="row" style="width:20%"><h5 style="font-weight:bold; margin-top: 20px;">매너온도</h5></th>
						<td>
							<div>
								<div>
									<span class="text-color-03" th:text="${passengerInfo.pTemperature}"></span>°C
								</div>
							</div>
							<div class="meters">
								<div class="bar"></div>
								<div class="face"></div>
							</div>
						</td>
					 <tr>
					 	<th scope="row"><h5 style="font-weight:bold;">내가작성한리뷰</h5></th>
							<td colspan="2">
								<div th:each="myReview : ${myReviewList}">
									<span style="color:silver">별점</span>
									<span style="color:silver" th:text="${myReview.starPoint}"></span> 
									<div th:text="${myReview.content}"></div>
								<div style="border-bottom: solid 1px silver;"></div>
								</div>
							</td>
					 </tr>
					 <tr>
					 	<th scope="row"><h5 style="font-weight:bold;">내가받은리뷰</h5></th>
						<td colspan="2">
							<div th:each="drReview : ${drReviewList}">
								<span style="color:silver">별점</span> 
								<span style="color:silver" th:text="${drReview.starPoint}"></span>
								<span style="color:silver">/ from</span> 
								<span style="color:silver" th:text="${drReview.nickname}"></span> 
								<div th:text="${drReview.content}"></div>
								<div style="border-bottom: solid 1px silver;"></div>
							</div>
						</td>
					 </tr>
				</tbody>
			</table>
  </div>

  <th:block layout:fragment="js">
    <script>
      var pTemperature = "[[${passengerInfo.pTemperature}]]";
      $(".bar").css("width", `${ pTemperature }%`);
      pTemperature = parseFloat(pTemperature);

      if (pTemperature > 0 && pTemperature <= 12.5) {
        $(".bar").addClass("bar-color-01");
        $(".face").addClass("face-01");
      } else if (pTemperature > 12.5 && pTemperature <= 30) {
        $(".bar").addClass("bar-color-02");
        $(".face").addClass("face-02");
      } else if (pTemperature > 30 && pTemperature <= 36.5) {
        $(".bar").addClass("bar-color-03");
        $(".face").addClass("face-03");
      } else if (pTemperature > 36.5 && pTemperature <= 50.5) {
        $(".bar").addClass("bar-color-04");
        $(".face").addClass("face-04");
      } else if (pTemperature > 50.5 && pTemperature <= 65.5) {
        $(".bar").addClass("bar-color-05");
        $(".face").addClass("face-05");
      } else if (pTemperature > 65.5) {
        $(".bar").addClass("bar-color-06");
        $(".face").addClass("face-06");
      }
    </script>
    <script src="/custom/js/passenger/pMyPage.js"></script>
  </th:block>

</html>