<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layoutPassenger}">

  <head>
    <title>reservationList</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx7b54bdec824142b3b3887c3917595b73"></script>
    <style>
      #prSection {
        margin-top: 100px;
      }
    </style>
  </head>

  <th:block layout:fragment="content">
    <section id="prListSection">
      <div class="container">

        <div class="d-flex justify-content-center">
          <h2 class="mb-4 fw-bold">나의카풀</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="search-wrap-1 ftco-animate p-4 boxes">
              <button id="confirmRsv" onclick="confirmRsv();" class="btn btn-primary rsvsbtn">확정된예약</button>
              <button id="waitingRsv" onclick="waitingRsv();" class="btn btn-primary rsvsbtn">대기예약</button>
              <button id="waitingRsv" onclick="pastRsv();" class="btn btn-primary rsvsbtn">지난예약</button>
            </div>
            <div class="boxes">
              <div id="confirmList"></div>
              <div id="waitingList"></div>
              <div id="pastList"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- 카풀 경로 모달 -->
      <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="selectModalLabel">선택하신 카풀의 경로입니다.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="map_div"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary rsvsbtn" data-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </th:block>

  <th:block layout:fragment="js">
    <script>
      function waitingRsv() {

      }

      function pastRsv() {

      }

      function confirmRsv() {
        $('#waitingList').css('display', 'none');
        $('#pastList').css('display', 'none');
        $('#confirmList').css('display', 'block');
        $.ajax({
          url: '/passenger/passengerCarpool/reservation/list/' + 1,
          type: 'GET',
          success: function (data) {
            console.log(data);
            var html = '';
            for (var i = 0; i < data.length; i++) {

              var dDate = data[i].D_DATE.substring(0, 10);
              var rDate = data[i].R_DATE.substring(0, 10);

              html += '<div class="rsv">\n';
              // html += '<img src="<c:url value=' / static / images / logo_yeoncha.png'/>" id="matchimg">';
              // html += '<span class="fitem">운전자</span>\t' + data[i].nickname + '<br>\n';
              html += '<span class="fitem">운전자</span>\t' + data[i].D_IDX + '<br>\n';
              html += '<span class="fitem">카풀일시</span>\t' + dDate + '\t' + data[i].D_STARTTIME + '\t -\t ' + data[i].D_ENDTIME + '<br>\n';
              html += '<span class="fitem">출발지</span>\t' + data[i].D_STARTPOINT + '<br>\n';
              html += '<span class="fitem">도착지</span>\t' + data[i].D_ENDPOINT + '<br>\n';
              html += '<span class="fitem">요금</span>\t' + data[i].D_FEE + '원 <br>\n';
              html += '<span id="frdate">예약일자 ' + rDate + '</span><br>\n';
              html += '<button id="view" onclick="viewRoute(' + data[i].D_STARTLON + ', ' + data[i].D_STARTLAT + ', ' + data[i].D_ENDLON + ', ' + data[i].D_ENDLAT + ')" class="btn btn-primary rsvsbtn" data-toggle="modal" data-target="#viewModal">경로보기</button>\t';
              html += '<button class="btn btn-primary rsvsbtn" onclick="drivingStart(' + data[i].R_IDX + ')" >탑승대기</button>\t';
              // html += '<button id="delete" onclick="deleteRsv(' + P_IDX + ',' + data[i].R_IDX + ')" class="btn btn-primary rsvsbtn">카풀취소</button>';
              html += '</div>'
            }
            $('#confirmList').html(html);
          }
        });
      }
    </script>
  </th:block>

</html>