<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layoutPassenger}">

<head>
  <title>reservation</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx7b54bdec824142b3b3887c3917595b73"></script>
  <style>
    #prSection {
      margin-top: 100px;
    }

    /* 선택안했을 때 스타일 */
    .check {
      display: none;
      color: red;
      margin-left: 10px;
      margin-top: 5px;
    }

    .rsvform {
      display: inline-block !important;
      width: 230px !important;
      border: 1px solid #6258A4 !important;
      background: transparent !important;
    }

    .rsvbtn {
      display: inline-block !important;
      width: 230px !important;
      height: 50px;
    }

    .rsbbtn {
      display: inline-block !important;
      width: 470px !important;
      height: 50px;
    }

    .rsvsbtn {
      display: inline-block !important;
      width: 217px !important;
      height: 40px;
    }

    /* radio 버튼 안보이게 */
    .box-radio-input input[type="radio"] {
      display: none;
    }

    /* 체크 안되어있을 때의 span태그 스타일 */
    .box-radio-input input[type="radio"]+span {
      display: inline-block;
      background: none;
      border: 1px solid #dfdfdf;
      padding: 0px 10px;
      text-align: center;
      height: 35px;
      line-height: 33px;
      font-weight: 500;
      cursor: pointer;
      width: 102px;
      border-radius: 5px;
      margin-left: 5px;
    }

    /* 체크 되었을 때의 변경되는 span태그 스타일 */
    .box-radio-input input[type="radio"]:checked+span {
      border: 1px solid #6258a4;
      background: #6258a4;
      color: #fff;
    }
  </style>
</head>

<th:block layout:fragment="content">
  <section id="prSection">
    <div class="container">

      <div class="d-flex justify-content-center">
        <h2 class="mb-4 fw-bold">카풀찾기</h2>
      </div>

      <div id="search">

        <form id="searchForm">
          <div id="commute">
            <label class="box-radio-input"><input type="radio" id="towork" name="work"
                value="출근"><span>출근</span></label>
            <label class="box-radio-input"><input type="radio" id="fromwork" name="work"
                value="퇴근"><span>퇴근</span></label>
            <!-- 선택안했을 때 -->
            <span id="workCheck" class="check">출근 또는 퇴근을 선택해주세요.</span>
          </div>

          <div id="datetime">
            <input type="text" class="form-control rsvform" placeholder="날짜를 선택해주세요" id="datepicker" name="datepicker">

            <select name="time" id="time" class="form-control rsvform">
              <option hidden>카풀시간</option>
              <option value="07:00" class="toworktime">07:00</option>
              <option value="07:15" class="toworktime">07:15</option>
              <option value="07:30" class="toworktime">07:30</option>
              <option value="07:45" class="toworktime">07:45</option>
              <option value="08:00" class="toworktime">08:00</option>
              <option value="08:15" class="toworktime">08:15</option>
              <option value="08:30" class="toworktime">08:30</option>
              <option value="08:45" class="toworktime">08:45</option>
              <option value="09:00" class="toworktime">09:00</option>
              <option value="18:00" class="fromworktime">18:00</option>
              <option value="18:15" class="fromworktime">18:15</option>
              <option value="18:30" class="fromworktime">18:30</option>
              <option value="18:45" class="fromworktime">18:45</option>
              <option value="19:00" class="fromworktime">19:00</option>
              <option value="19:15" class="fromworktime">19:15</option>
              <option value="19:30" class="fromworktime">19:30</option>
              <option value="19:45" class="fromworktime">19:45</option>
              <option value="20:00" class="fromworktime">20:00</option>
            </select>
            <span id="timeCheck" class="check">시간을 선택해주세요.</span>
          </div>

          <div id="showroute">
            <div id="searchmap">
              <div>
                <input type="text" id="startPoint" name="startPoint" placeholder="출발지찾기" class="form-control rsvform">
                <input type="button" id="searchSP" onclick="searchPOIS();" value="출발지찾기" class="btn btn-primary rsvbtn">
              </div>
              <div>
                <input type="text" id="endPoint" name="endPoint" placeholder="도착지찾기" class="form-control rsvform">
                <input type="button" id="searchEP" onclick="searchPOIE();" value="도착지찾기" class="btn btn-primary rsvbtn">
              </div>

              <input type="text" id="start" readonly class="form-control rsvform" placeholder="출발지">
              <input type="text" id="end" readonly class="form-control rsvform" placeholder="도착지">

              <input type="button" id="routesearch" onclick="route();" value="경로확인" class="btn btn-primary rsbbtn">
              <div id="map_div" class="bg-white"></div>
              <input type="hidden" id="startlon" name="startlon">
              <input type="hidden" id="startlat" name="startlat">
              <input type="hidden" id="endlon" name="endlon">
              <input type="hidden" id="endlat" name="endlat">
              <input type="button" id="searchcarpool" onclick="search()" value="카풀검색" class="btn btn-primary rsbbtn">
            </div>
          </div>

        </form>

      </div>

    </div>


  </section>
</th:block>

<th:block layout:fragment="js">
  <script>
    $(function () {
      $("#datepicker").datepicker({
        dateFormat: 'yy-mm-dd'
      });
    });

    // ------------TMAP API------------
    var map, marker;
    var markerArr = [];
    var drawInfoArr = [];
    var resultMarkerArr = [];
    var resultdrawArr = [];

    $(document).ready(function () {
      initTmap();
    });

    function initTmap() {
      // 1. 지도 띄우기
      map = new Tmapv2.Map("map_div", {
        center: new Tmapv2.LatLng(37.56520450, 126.98702028),
        width: "70%",
        height: "400px",
        zoom: 17,
        zoomControl: true,
        scrollwheel: true

      });
    }

    function searchPOIS() {
      var startPoint = $('#startPoint').val();

      if (startPoint == "") {
        alert("출발할 장소를 입력해주세요.");
        $('#startPoint').focus();
        return;
      }

      $.ajax({
        method: "GET",
        url: "https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result",
        async: false,
        data: {
          "appKey": "l7xx7b54bdec824142b3b3887c3917595b73",
          "searchKeyword": startPoint,
          "resCoordType": "EPSG3857",
          "reqCoordType": "WGS84GEO",
          "count": 10
        },
        success: function (response) {
          var resultpoisData = response.searchPoiInfo.pois.poi;

          // ------ 초기화
          if (markerArr.length > 0) {
            for (var i in markerArr) {
              markerArr[i].setMap(null);
            }
          }

          if (resultMarkerArr.length > 0) {
            for (var i = 0; i < resultMarkerArr.length; i++) {
              resultMarkerArr[i].setMap(null);
            }
          }

          if (resultdrawArr.length > 0) {
            for (var i = 0; i < resultdrawArr.length; i++) {
              resultdrawArr[i].setMap(null);
            }
          }

          drawInfoArr = [];
          resultMarkerArr = [];
          resultdrawArr = [];

          // 초기화 ------

          // 맵에 결과물 확인 하기 위한 LatLngBounds객체 생성
          var positionBounds = new Tmapv2.LatLngBounds();

          // 마커찍기
          for (var k in resultpoisData) {

            var noorLat = Number(resultpoisData[k].noorLat);
            var noorLon = Number(resultpoisData[k].noorLon);
            var name = resultpoisData[k].name;

            var pointCng = new Tmapv2.Point(noorLon, noorLat);
            var projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(pointCng);

            var lat = projectionCng._lat;
            var lon = projectionCng._lng;

            var markerPosition = new Tmapv2.LatLng(lat, lon);
            marker = new Tmapv2.Marker({
              position: markerPosition,
              icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png",
              iconSize: new Tmapv2.Size(24, 38),
              title: name,
              map: map
            });

            markerArr.push(marker);
            // LatLngBounds의 객체 확장
            positionBounds.extend(markerPosition);
          }

          for (let i = 0; i < markerArr.length; i++) {
            $(markerArr[i]._htmlElement).click(() => {
              const slat = markerArr[i]._marker_data.options.position._lat;
              const slng = markerArr[i]._marker_data.options.position._lng;
              $("#start").val(markerArr[i]._marker_data.options.title);
              $('#startlon').val(slng);
              $('#startlat').val(slat);
              // map.destroy();
              // initTmap();
            })
          }

          // 확장된 bounds의 중심으로 이동시키기
          map.panToBounds(positionBounds);
          map.zoomOut();
        },
        error: function (request, status, error) {
          console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      });
    }

    function searchPOIE() {
      var endPoint = $('#endPoint').val();

      if (endPoint == "") {
        alert("도착할 장소를 입력해주세요.");
        $('#endPoint').focus();
        return;
      }

      $.ajax({
        method: "GET",
        url: "https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result",
        async: false,
        data: {
          "appKey": "l7xx7b54bdec824142b3b3887c3917595b73",
          "searchKeyword": endPoint,
          "resCoordType": "EPSG3857",
          "reqCoordType": "WGS84GEO",
          "count": 10
        },
        success: function (response) {
          var resultpoisData = response.searchPoiInfo.pois.poi;

          // ------ 초기화
          if (markerArr.length > 0) {
            for (var i in markerArr) {
              markerArr[i].setMap(null);
            }
          }

          if (resultMarkerArr.length > 0) {
            for (var i = 0; i < resultMarkerArr.length; i++) {
              resultMarkerArr[i].setMap(null);
            }
          }

          if (resultdrawArr.length > 0) {
            for (var i = 0; i < resultdrawArr.length; i++) {
              resultdrawArr[i].setMap(null);
            }
          }

          drawInfoArr = [];
          resultMarkerArr = [];
          resultdrawArr = [];

          // 초기화 ------

          // 맵에 결과물 확인 하기 위한 LatLngBounds객체 생성
          var positionBounds = new Tmapv2.LatLngBounds();

          // 마커찍기
          for (var k in resultpoisData) {

            var noorLat = Number(resultpoisData[k].noorLat);
            var noorLon = Number(resultpoisData[k].noorLon);
            var name = resultpoisData[k].name;

            var pointCng = new Tmapv2.Point(noorLon, noorLat);
            var projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(pointCng);

            var lat = projectionCng._lat;
            var lon = projectionCng._lng;

            var markerPosition = new Tmapv2.LatLng(lat, lon);
            marker = new Tmapv2.Marker({
              position: markerPosition,
              icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png",
              iconSize: new Tmapv2.Size(24, 38),
              title: name,
              map: map
            });

            markerArr.push(marker);              // LatLngBounds의 객체 확장
            positionBounds.extend(markerPosition);
          }

          for (let i = 0; i < markerArr.length; i++) {
            $(markerArr[i]._htmlElement).click(() => {
              const elat = markerArr[i]._marker_data.options.position._lat;
              const elng = markerArr[i]._marker_data.options.position._lng;
              $("#end").val(markerArr[i]._marker_data.options.title);
              $('#endlon').val(elng);
              $('#endlat').val(elat);
              // map.destroy();
              // initTmap();
            })
          }

          // 확장된 bounds의 중심으로 이동시키기
          map.panToBounds(positionBounds);
          map.zoomOut();
        },
        error: function (request, status, error) {
          console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      });
    }

    function route() {

      var start = $('#start').val();
      if (start == "") {
        alert("도착할 장소를 검색 후 선택해주세요.");
        $('#startPoint').focus();
        return;
      }

      var end = $('#end').val();
      if (end == "") {
        alert("도착할 장소를 검색 후 선택해주세요.");
        $('#endPoint').focus();
        return;
      }

      // ------ 초기화
      if (markerArr.length > 0) {
        for (var i in markerArr) {
          markerArr[i].setMap(null);
        }
      }

      if (resultMarkerArr.length > 0) {
        for (var i = 0; i < resultMarkerArr.length; i++) {
          resultMarkerArr[i].setMap(null);
        }
      }

      if (resultdrawArr.length > 0) {
        for (var i = 0; i < resultdrawArr.length; i++) {
          resultdrawArr[i].setMap(null);
        }
      }

      drawInfoArr = [];
      resultMarkerArr = [];
      resultdrawArr = [];

      // 초기화 ------

      var startX = $('#startlon').val();
      var startY = $('#startlat').val();
      var endX = $('#endlon').val();
      var endY = $('#endlat').val();

      $
        .ajax({
          type: "POST",
          url: "https://apis.openapi.sk.com/tmap/routes?version=1&format=json&callback=result",
          async: false,
          data: {
            "appKey": "l7xx7b54bdec824142b3b3887c3917595b73",
            "startX": startX,
            "startY": startY,
            "endX": endX,
            "endY": endY,
            "reqCoordType": "WGS84GEO",
            "resCoordType": "EPSG3857",
          },
          success: function (response) {

            var positionBounds = new Tmapv2.LatLngBounds();		//맵에 결과물 확인 하기 

            var x;
            var y;

            var numberSX = parseFloat(startX);
            var numberSY = parseFloat(startY);
            var numberEX = parseFloat(endX);
            var numberEY = parseFloat(endY);

            if (numberSX > numberEX) {
              var x = numberEX + (numberSX - numberEX) / 2;
            } else {
              var x = numberSX + (numberEX - numberSX) / 2;
            }

            if (numberSY > numberEY) {
              var y = numberEY + (numberSY - numberEY) / 2;
            } else {
              var y = numberSY + ((numberEY - numberSY) / 2);
            }

            var lonlat = new Tmapv2.LatLng(y, x);
            map.setCenter(lonlat);

            var resultData = response.features;
            console.log(resultData);
            var distance = (resultData[0].properties.totalDistance / 1000);
            if (distance < 10) {
              console.log("10km미만");
              map.zoomOut();
            } else if (distance < 20) {
              console.log("20km미만");
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
            } else if (distance < 30) {
              console.log("30km미만");
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
            } else if (distance < 40) {
              console.log("40km미만");
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
            } else {
              console.log("40km이상");
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
              map.zoomOut();
            }

            var tDistance = (resultData[0].properties.totalDistance / 1000).toFixed(1);
            var tTime = (resultData[0].properties.totalTime / 60).toFixed(0);
            var tFare = resultData[0].properties.taxiFare;

            // $('#routeTime').text('약 ' + tTime + '분 정도 걸리는 거리입니다.');
            $('#distance').val(parseInt(tDistance));
            $('#time').val(parseInt(tTime));
            //택시비의 60프로 저렴한 가격
            $('#fare').val(parseInt(tFare) * 0.6);

            for (var i in resultData) { //for문 [S]
              var geometry = resultData[i].geometry;
              var properties = resultData[i].properties;

              if (geometry.type == "LineString") {
                for (var j in geometry.coordinates) {
                  // 경로들의 결과값들을 포인트 객체로 변환 
                  var latlng = new Tmapv2.Point(
                    geometry.coordinates[j][0],
                    geometry.coordinates[j][1]);
                  // 포인트 객체를 받아 좌표값으로 변환
                  var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                    latlng);
                  // 포인트객체의 정보로 좌표값 변환 객체로 저장
                  var convertChange = new Tmapv2.LatLng(
                    convertPoint._lat,
                    convertPoint._lng);
                  // 배열에 담기
                  drawInfoArr
                    .push(convertChange);
                }
                drawLine(drawInfoArr,
                  "0");
              } else {

                var markerImg = "";
                var pType = "";

                if (properties.pointType == "S") { //출발지 마커
                  markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                  pType = "S";
                } else if (properties.pointType == "E") { //도착지 마커
                  markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                  pType = "E";
                } else { //각 포인트 마커
                  markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                  pType = "P"
                }

                // 경로들의 결과값들을 포인트 객체로 변환 
                var latlon = new Tmapv2.Point(
                  geometry.coordinates[0],
                  geometry.coordinates[1]);
                // 포인트 객체를 받아 좌표값으로 다시 변환
                var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                  latlon);

                var routeInfoObj = {
                  markerImage: markerImg,
                  lng: convertPoint._lng,
                  lat: convertPoint._lat,
                  pointType: pType
                };

                // Marker 추가
                addMarkers(routeInfoObj);
              }
            }//for문 [E]

          },
          error: function (request, status, error) {
            console.log("code:"
              + request.status + "\n"
              + "message:"
              + request.responseText
              + "\n" + "error:" + error);
          }
        });

      //마커 생성하기
      function addMarkers(infoObj) {
        var size = new Tmapv2.Size(24, 38);//아이콘 크기 설정합니다.

        if (infoObj.pointType == "P") { //포인트점일때는 아이콘 크기를 줄입니다.
          size = new Tmapv2.Size(8, 8);
        }

        marker_p = new Tmapv2.Marker({
          position: new Tmapv2.LatLng(infoObj.lat, infoObj.lng),
          icon: infoObj.markerImage,
          iconSize: size,
          map: map
        });

        resultMarkerArr.push(marker_p);
      }

      //라인그리기
      function drawLine(arrPoint, traffic) {
        var polyline_ = new Tmapv2.Polyline({
          path: arrPoint,
          strokeColor: "#DD0000",
          strokeWeight: 6,
          map: map
        });
        resultdrawArr.push(polyline_);
      }
    }
    // ------------TMAP API------------
    function search() {

    }

  </script>
</th:block>

</html>